---
import Base from "../layouts/Base.astro";
import Hero from "../components/Hero.astro";
import Features from "../components/Features.astro";
import ClassesGrid from "../components/ClassesGrid.astro";
import Roadmap from "../components/Roadmap.astro";
import DevlogPreview from "../components/DevlogPreview.astro";
import SubscribeForm from "../components/SubscribeForm.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

export const prerender = true;
---

<Base title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main>
    <Hero />
    <Features />
    <ClassesGrid />
    <Roadmap />
    <DevlogPreview />
    <SubscribeForm />
  </main>
</Base>
