# Godot
client/.godot/
client/.import/
*.import
*.translation
client/reports/
client/.dev_config.json

# Blender
*.blend1
*.blend2

# Go
.go/
server/bin/
server/gateway
server/tmp/

# Build
build/

# Nix
result
result-*

# OS
.DS_Store
Thumbs.db
*~


# Node
node_modules/
web/*/dist/

# IDE
.vscode/
.idea/
*.swp
*.swo
