# Godot
client/.godot/
client/.import/
*.translation

# Blender
*.blend1
*.blend2

# Go
.go/
server/bin/
server/gateway

# Build
build/

# Nix
result
result-*

# OS
.DS_Store
Thumbs.db
*~


# IDE
.vscode/
.idea/
*.swp
*.swo
